<h2>Neuer Blogeintrag</h2>

<%= form_for([@blog, @blogpost]) do |f| %>

    <div class="field">
      <%= f.label :content %><br />
      <%= f.text_area :content %>
    </div>

    <div class="actions">
      <%= f.submit "Blogeintrag erstellen" %>
    </div>
<% end %>