Forschung <br>

<div id="kalendi">
  <%= render 'kalendi' %>
</div>

<ul class="lista">

</ul>

<script>
  $(document).ready(function(){
    $(document).on('click', ".btn2", function () {
      var buttonContent = $(this).html();
      $(".lista").append("<li>" + buttonContent + "</li>");
    });
  });
</script>