
  <div class="media2">
    <table style="width: 60%; margin-left:auto;margin-right:auto;">
      <tr>
        <th colspan="3">
          <table>
            <tr>
              <th>
                <div style="text-align: center;">
                  <%= image_tag("mensch.jpg", width:"80%") %>
                </div>
              </th>
              <th>
                <div class="rcorners2">Event 1<br>Event 2<br></div>
              </th>
            </tr>
          </table>
        </th>
      </tr>
    </table>
  </div>