 <div class="media2">
    <table style="width: 90%; margin-left:auto;margin-right:auto;">
      <tr>
        <th colspan="3" style="padding: 0;" >
          <table style="margin: 0;">
            <tr>
              <th style="padding: 0;" >
                <div style="text-align: center;">
                  <%= image_tag("bge.jpg", width:"100%") %>
                </div>
              </th>
              <th style="padding: 0;" >
                <div class="rcornersevent">Event 1<br>Wer Was Wo<br>Event 2<br>Wer Was Wo<br>Event 3<br>Wer Was Wo<br>Event 4<br>Wer Was Wo<br>Event 5<br>Wer Was Wo<br></div>
              </th>
            </tr>
          </table>
        </th>
      </tr>
      <tr>
        <td style="padding-right:15px;vertical-align:top; width: 33%;">
          <div class="columnheader">Philosophische Forschung</div>
        </td>
        <td style="padding-right:15px; vertical-align:top; width: 33%;">
          <div class="columnheader">Philosophisches Interesse</div>
        </td>
        <td style="vertical-align:top; width: 33%;">
          <div class="columnheader">Philosophischer Input</div>
        </td>
      </tr>
      <tr>
        <td style="padding-right:15px;vertical-align:top;">
          <div class="columnheadermess">Kurzmeldung Philosophische Forschung
            (Alumni / Jobs/ Publikationen/ CFP)</div>
          <div class="columnheadermess">Kurzmeldung Philosophische Forschung
            (Alumni / Jobs/ Publikationen/ CFP)</div>
          <div class="columnheadermess">Kurzmeldung Philosophische Forschung
            (Alumni / Jobs/ Publikationen/ CFP)</div>
          <div class="columnheadermess">Kurzmeldung Philosophische Forschung
            (Alumni / Jobs/ Publikationen/ CFP)</div>
        </td>
        <td style="padding-right:15px; vertical-align:top;">
          <div class="columnheadermess">Kurzmeldung Philosophisches Interesse
            (Veröffentlichung, Blogs, Medienartikel)</div>
          <div class="columnheadermess">Kurzmeldung Philosophisches Interesse
            (Veröffentlichung, Blogs, Medienartikel)</div>
          <div class="columnheadermess">Kurzmeldung Philosophisches Interesse
            (Veröffentlichung, Blogs, Medienartikel)</div>
          <div class="columnheadermess">Kurzmeldung Philosophisches Interesse
            (Veröffentlichung, Blogs, Medienartikel)</div>
        </td>
        <td style="vertical-align:top;">
          <div class="columnheaderright">Partner</div>
          <div class="columnheaderright">Werbefläche</div>
        </td>
      </tr>
    </table>
  </div>