Event-Kalender<br>
<% if notice %>
    <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
<% end %>
<div id="kalender">
<%= render 'static_pages/fullkalendar' %>
</div>