<h2>Neuer Event</h2><br>
<div class="jesus"></div><br><br>
<input type="text" class='datepicker' >

<script type="text/javascript">
  $(document).ready(function(){
    $input = $('.datepicker');
    $input.datepicker({
      multidate: true,
      format: 'yyyy-mm-dd',
      todayHighlight: true,
      container: ".jesus",
      title: "An welchen Tagen findet der Event statt?",
      weekStart: 1
    });
    $input.data('datepicker').hide = function () {};
    $input.datepicker('show');
  });
</script>
