<h2>Neuer Event</h2><br>
<div id="jesus"></div>
<input type="text" id='jesus' >

<script type="text/javascript">
  $(document).ready(function(){
    $('#jesus').datepicker({
      multidate: true,
      format: 'yyyy-mm-dd',
      todayHighlight: true,
    });
  });
</script>

<br>
<button class="btn3">Add dates to the hidden field</button>

