<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi <%= @user.username %></h1>
<p>
  Um Missbrauch des Eventkalenders zu verhindern, wird der hochgeladene Event von einem Moderator überprüft. Wir bitten Sie um Geduld.<br>
</p>
</body>
</html>