<h2>Neuer Event</h2><br>
<div id="kalendi">
  <%= render 'kalendi' %>
</div>

<ul class="lista">

</ul>

<%= simple_form_for([@event, @dateevent]) do |f| %>
    <%= f.input :date %>
    <%= f.button :submit %>
<% end %>

<script>
  $(document).ready(function(){
    $(document).on('click', ".btn2", function () {
      var buttonContent = $(this).html();
      $(".lista").append("<li>" + buttonContent + "</li>");
    });
  });
</script>