<div style="text-align: center;"><h2>Neuer Event</h2>
  <%= simple_form_for([@event, @dateevent]) do |f| %>
      <%= hidden_field_tag(:date) %>
      <%= f.input :date, :as => :hidden, :input_html => { :value => "placeholder" } %>
      <%= f.button :submit,"Möglichkeit erstellen" %>
  <% end %><br>
<input type="text" class='datepicker'>
<br>
<div class="moses"></div>
</div>


  <script>

    $(document).ready(function(){
      $(document).on('click', "input.btn", function () {
        var datelist = $("input.datepicker").val();
        document.getElementById('date').value = datelist;
      });

      $('.moses').datepicker({
        multidate: true,
        language: "de",
        format: 'yyyy-mm-dd',
        todayHighlight: true,
        title: "An welchen Tagen findet der Event statt?",
        weekStart: 1
      }).on('changeDate', function(e){
        $('.datepicker').val(
            $('.moses').datepicker('getFormattedDate') // get the formatted date from the datepicker (using the format you instantiated it with)
        );
      });

    });
</script>





