<h2>Neuer Event</h2><br>
<div class="jesus"></div><br><br>
<input type="text" class='datepicker' >
<br>

<%= simple_form_for([@event, @dateevent]) do |f| %>
    <%= hidden_field_tag(:date, @datelist) %>
    <%= f.input :date, :as => :hidden, :input_html => { :value => "placeholder" } %>
    <%= f.button :submit %>
<% end %>

  <script>

    $(document).ready(function(){
      $(document).on('click', "input.btn", function () {
        var datelist = $("input.datepicker").val();
        document.getElementById('date').value = datelist;
      });

      $input = $('.datepicker');
      $input.datepicker({
        multidate: true,
        format: 'yyyy-mm-dd',
        todayHighlight: true,
        container: ".jesus",
        title: "An welchen Tagen findet der Event statt?",
        weekStart: 1
      });
      $input.data('datepicker').hide = function () {};
      $input.datepicker('show');
    });
</script>


