<h2>Neuer Event</h2><br>
<input type="text" class='datepicker' >

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker({
      multidate: true,
      format: 'yyyy-mm-dd'
    });
  });
</script>
<br>
<button class="btn3">Add dates to the hidden field</button>

<%= simple_form_for([@event, @dateevent]) do |f| %>
    <%= hidden_field_tag(:date, @datelist) %>
    <%= f.input :date, :as => :hidden, :input_html => { :value => "placeholder" } %>
    <%= f.button :submit %>
<% end %>

  <script>

    $(document).ready(function(){
      $(document).on('click', "submit", function () {
        var datelist = $("input.datepicker").val();
        document.getElementById('date').value = datelist;
      });
    });
</script>


