Alle Infos<br><br>

<% @infos.each do |info| %>
    <div class="mainbox">
  <%= link_to info.name, info_path(info) %><br>
  <%= info.content %><br>
  <%= info.kind %><br>
  <%= info.user_id %>
    </div>
<% end %>