<div class="erstesblau">
  <div style="text-align: center;">Anmelden | RSS | Häufig gestellte Fragen<br>
    Nutzervereinbarung | Datenschutz | Richtlinien für Kommentare | Über uns | Kontakt<br>
    Urheberrecht ©2015 Philosophie.ch. Alle Rechte vorbehalten.</div>
</div>