<div class="erstesblau">
  <div style="text-align: right; padding-right: 10px;">Login Signup</div>
</div>

<div style="text-align: center">
  <%= image_tag("mensch.jpg", width:"70%") %>
</div>

<div class="zweitesblau">
  <div class="media1">
    <ul class="collapsibleList">
      <li>
        <label for="mylist-node1">Menu</label>
        <input type="checkbox" id="mylist-node1" />
        <ul>
          <b>
          <li>Startseite</li>
          <li>Themen</li>
          <li>Blogs</li>
          <li>Events</li>
          <li>Ausbildung</li>
          <li>Forschung</li>
          </b>
        </ul>
      </li>
    </ul>
  </div>

  <div class="media2">
    <ul id="menu">
      <li><b>Startseite</b></li>
      <li><b>Themen</b></li>
      <li><b>Blog</b></li>
      <li><b>Events</b></li>
      <li><b>Ausbildung</b></li>
      <li><b>Forschung</b></li>
    </ul>
  </div>
</div>

<div class="media2">
  <div class="drittesblau">
    <ul id="menu">
      <li>Gutes Leben</li>
      <li>Politik & Wirtschaft</li>
      <li>Metaphysik</li>
      <li>Ethik</li>
      <li>Logik & Sprachphilosopie</li>
      <li>Workshops</li>
      <li>Kurse</li>
    </ul>
  </div>
</div>
