<div class="erstesblau">
  <div style="text-align: right; padding-right: 10px;">Login Signup</div>
</div>

<div style="text-align: center">
  <%= image_tag("mensch.jpg", width:"50%") %>
</div>

<div class="zweitesblau">
  <div class="media1">
    <ul class="collapsibleList">
      <li>
        <label for="mylist-node1">Menu</label>
        <input type="checkbox" id="mylist-node1" />
        <ul>
          <b>
          <li><%= link_to 'Startseite', root_path %></li>
          <li>Themen</li>
          <li>Blogs</li>
          <li>Events</li>
          <li>Ausbildung</li>
          <li>Forschung</li>
          </b>
        </ul>
      </li>
    </ul>
  </div>

  <div class="media2">
    <ul id="menu">
      <b>
      <li><%= link_to 'Startseite', root_path %></li>
      <li>Themen</li>
      <li>Blog</li>
      <li>Events</li>
      <li>Ausbildung</li>
      <li>Forschung</li>
      </b>
    </ul>
  </div>
</div>

<div class="media2">
  <div class="drittesblau">
    <ul id="menu">
      <li>Gutes Leben</li>
      <li>Politik & Wirtschaft</li>
      <li>Metaphysik</li>
      <li>Ethik</li>
      <li>Logik & Sprachphilosopie</li>
      <li>Workshops</li>
      <li>Kurse</li>
    </ul>
  </div>
</div>
<br>